<log4net debug="false">

	<!-- Define some output appenders -->
		
 	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender,log4net" >
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d{HH:mm:ss,fff}: %m%n"/>
		</layout>
	</appender>

	<!-- Setup the root category, add the appenders and set the default priority -->
		
	<root>
		<priority value="INFO"/>
		<appender-ref ref="ConsoleAppender" />
	</root>

	<!-- Specify the priority for some specific categories -->
		
	<category name="Neo.Core.ObjectContext"><priority value="DEBUG" /></category>
	<category name="Neo.Framework.EntityObject"><priority value="DEBUG" /></category>	
	<category name="Neo.Core.Util.DefaultEntityMapFactory"><priority value="INFO" /></category>
	<category name="Neo.SqlClient.SqlDataStore"><priority value="DEBUG" /></category>
	<category name="Neo.OracleClient.OracleDataStore"><priority value="DEBUG" /></category>
	<category name="Neo.FirebirdClient.FirebirdDataStore"><priority value="DEBUG" /></category>

</log4net>
