<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<!-- <sqlconnstring>data source=149.182.252.210;initial catalog=pubs;user id=iSUP_Dev;password=Fr1d4y</sqlconnstring> -->
	<sqlconnstring>data source=virtserver;initial catalog=pubs;user id=dev;password=passw0rd</sqlconnstring>
</configuration>
