<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	
	<store>Neo.FirebirdClient.FirebirdDataStore,Neo.FirebirdClient</store>
	<sqlconnstring>Database=..\..\Resources\PUBSDB.FDB;user=sysdba;password=masterkey;Charset=NONE;ServerType=1;Pooling=false</sqlconnstring>

	<!-- <store>Neo.SqlClient.SqlDataStore,Neo</store>
	<sqlconnstring>data source=virtserver;initial catalog=pubs;user id=dev;password=passw0rd;persist security info=true</sqlconnstring> -->

    <!-- <store>Neo.OracleClient.OracleDataStore,Neo.OracleClient</store>
    <sqlconnstring>data source=pubs;user id=dev;password=passw0rd;persist security info=true</sqlconnstring> -->

	<!--<store>Neo.MySqlClient.MySqlDataStore,Neo.MySqlClient</store>
	<sqlconnstring>data source=virtserver;initial catalog=pubs;user id=dev;password=passw0rd;persist security info=true</sqlconnstring>-->
	
</configuration>
