<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	
	<store>Neo.SqlClient.SqlDataStore</store>
	<sqlconnstring>data source=virtserver;initial catalog=pubs;user id=dev;password=passw0rd;persist security info=true</sqlconnstring>

	<!-- <store>Neo.OracleClient.OracleDataStore</store>
	<sqlconnstring>data source=pubs;user id=dev;password=passw0rd;persist security info=true</sqlconnstring> -->
	
</configuration>
