body, body.home {
	padding:0;
	margin:0;
	max-width:1024px;
}

p, li {
	font-family: Lucida Grande, Arial, Geneva, sans-serif;
	font-size:80%;
}

p.heading1, p.heading2, p.heading2f {
	margin:0px;
	margin-bottom:0.5ex;
	font-weight:bold;
}

p.heading1 {
	padding-top:3ex;
	font-size:110%;
}

p.heading2 {
	margin-top:3ex;
}

p.heading2f {
	margin-top:2ex;
}

p.body, li { 
	margin:0px;
	margin-bottom:1ex;
	line-height:1.7em; 
}

p.code { 
	font-family: Courier New, Courier;
	white-space: pre;
	margin:0px;
	margin-bottom:1ex;
	margin-left:3ex;
	line-height:1.7em; 
}

code {
	font-family: Courier New, Courier;
}

p.footer { 
	margin:0px;
	margin-top:6ex;
	border-top:1px solid black;
	padding-top:1ex;
	font-size:70%;
	line-height:1.5em; 
}

p.navtitle { 
	margin-top:2ex;
	margin-bottom:0.75ex;
	font-weight:bold;
}

p.navitem, p.navitemactive { 
	margin-top:0ex;
	margin-bottom:0.5ex;
	padding-left:0.25em;
}

p.navitemactive {
	font-weight:bold;
	font-style:italic;
}

a:link, a:visited, a:active {
   text-decoration:none; 
}

a:hover  {
   text-decoration:underline; 
}	

a.mn:link, a.mn:visited, a.mn:active {
   text-decoration : none; 
   color:#000000; 
}

a.mn:hover {
   text-decoration:underline; 
}


#header {
	padding: 15px;
}

#metanav {
	border-top:1px solid black;
	border-bottom:1px solid black;
	background: #eee;
	padding: 0.5ex;
	padding-right:20px;
	text-align:right;
	font-family: Lucida Grande, Arial, Geneva, sans-serif;
	font-weight:bold;
	font-size:12px;
}

#menubox {
	float:left;
    margin:20px 0 0 0px;
    	padding:0 1em 1em 20px;
    border-bottom: 1px solid #fff;
}

#contentbox {
	margin:5px 60px 20px 7.5em;
	padding:0 1em 1em 1.5em;
    border-left: 1px dotted #ccc;
	max-width:35em;
}

